<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9'>
      <div class='row table-header'>
        <div class='col-9 content'>
          <h2 class='header-title'>
            Payment
          </h2>
          <h2 class='genesis-title'>
            Genesis, Inc.
          </h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-4'>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="col">Payment</th>
                <td>#8D441124-0001</td>
              </tr>
              <tr>
                <th scope="col">Date of Issue:</th>
                <td>11/11/19</td>
              </tr>
              <tr>
                <th scope="col">Date Due:</th>
                <td>11/11/19</td>
              </tr>
            </tbody>
           </table>
        </div>
        <div class='col-5 billing-info'>
          <p class='billing-info-field'>
            Bill to:
          </p>
          <p class='billing-billing-info-field'>
            Dwigth Shrute
          </p>
          <p class='billing-billing-info-field'>
            1052 Doreen Pl, Scranton PA, 18504
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-9 body'>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Delaware Incorporation</th>
                <td>1</td>
                <td>$500.00</td>
                <td>$500.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Subtotal</td>
                <td>$500.00</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Amount Due</td>
                <td>$500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
