<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9 content'>
      <div class='row table-header'>
        <div class='col-12 content'>
          <h3 class='header-title text-right'>
            Invoice
          </h3>
          <h5 class='genesis-title'>
            Genesis, Inc.
          </h5>
        </div>
      </div>
      <div class='row content'>
        <div class='col-4 billing-info float-left'>
          <p class='billing-info-field'>
            Payment: #8D441124-0001
          </p>
          <p class='billing-info-field'>
            Date of Issue: 11/11/20
          </p>
          <p class='billing-info-field'>
            Date Due: 11/11/20
          </p>
        </div>
        <div class='col-8 billing-info float-right'>
          <p class='billing-info-field text-right'>
            Bill to:
          </p>
          <p class='billing-info-field text-right'>
            Dwigth Shrute
          </p>
          <p class='billing-info-field text-right'>
            1052 Doreen Pl, Scranton PA, 18504
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-12 body'>
          <table class="table table-sm">
            <thead>
              <tr class='table-header'>
                <th scope="col">Description</th>
                <th scope="col">Qty</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr class='table-price'>
                <td scope="row">Delaware Incorporation</td>
                <td>1</td>
                <td>$500.00</td>
                <td>$500.00</td>
              </tr>
              <tr>
                <td scope='row'></td>
                <td></td>
                <td>Subtotal</td>
                <td>$500.00</td>
              </tr>
              <tr>
                <td scope='row no-table'></td>
                <td class='no-table'></td>
                <td class='table-total'>Amount Due</td>
                <td class='table-total'>$500.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
