<%= render 'website/partials/mail_header' %>
<div class='container wrapper-mail-welcome'>
  <div class='col-12 text-center'>
    <%= image_tag 'password.svg', class:'mail-image'%>
    <h5 class='title font-weight-bold'>
      Reset Password
    </h5>
    <h6 class='text'>
      Hello, we received a request to reset your password for your
    </h6>
    <h6 class='text'>
      Genesis account: you@mail.com We're here to help!
    </h6>
    <a class="btn btn-primary btn-confirm float-center" href="/password-recover" role="button">Set New Password</a>
    <p class='disclaimer'>
      If you didn't ask to change your password, don't worry!
      Your password is still safe and you can delete this email.
    </p>
  </div>
</div>
