<%= render 'website/partials/mail_header' %>
<div class='container wrapper-mail-thanks'>
  <div class='col-12 text-center'>
    <%= image_tag 'sent-email.svg', class:'image'%>
    <h5 class='title font-weight-bold'>
      Thank You
    </h5>
    <h6 class='text'>
      Your message has been sent.
    </h6>
    <h6 class='text'>
      We’ll get back to you as soon as possible.
    </h6>
  </div>
</div>
