<%= render 'website/partials/mail_header' %>
<div class='container wrapper-mail-confirm'>
  <div class='col-12 text-center'>
    <%= image_tag 'mail-confirm.svg', class:'image'%>
    <h5 class='title font-weight-bold'>
      Confirm your email to join Genesis
    </h5>
    <h6 class='text'>
      Hello! Once you've confirmed your email address,
      you'll be the newest member of Genesis
    </h6>

  </div>
</div>
