<%= render 'website/partials/mail_header' %>
<div class='container wrapper-mail-application'>
  <div class='col-12 text-center'>
    <%= image_tag 'application.svg', class:'mail-image'%>
    <h5 class='title font-weight-bold'>
      Your application is being process
    </h5>
    <p class='disclaimer'>
      <a href='/'>
      Incorporation Process ID #45555
      </a>
    </p>
    <h6 class='text'>
      We're looking forward to working with you!
    </h6>
    <h6 class='text'>
      In the meantime, please let me know if
      you have any questions with your application
      —we're here to help!
    </h6>
    <p class='unsubscribe'>
      This email was sent to
      <a href=/>
      you@mail.com
      </a>
      if you no longer wish to receive these emails you may
      <a href=/>
      unsubscribe
      </a>
      at any time.
    </p>
  </div>
</div>
