<%= render 'website/partials/header_genesis' %>
<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <h1 class='title text-center'>
        Success Password Reset
      </h1>
      <p class='text text-center'>
        You can now use your new password to login into your account
      </p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Log In</button>
</div>
<%= render 'website/partials/footer_genesis' %>
