<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3 sidebar'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9 content'>
      <%= render 'website/partials/instance_payments' %>
    </div>
  </div>
</div>
