<%= render 'website/partials/header_dashboard' %>
<div class='container'>
  <div class='row dashboard'>
    <div class='col-3'>
      <%= render 'website/partials/dashboard_sidebar' %>
    </div>
    <div class='col-9 content'>
      <div class='row table-header'>
        <div class='col-12 content'>
          <h3 class='header-title text-right'>
            Payment
          </h3>
          <h5 class='genesis-title'>
            Genesis, Inc.
          </h5>
        </div>
      </div>
      <div class='row content'>
        <div class='col-4 billing-table-info'>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="col">Payment</th>
                <td>#8D441124-0001</td>
              </tr>
              <tr>
                <th scope="col">Date of Issue:</th>
                <td>11/11/19</td>
              </tr>
              <tr>
                <th scope="col">Date Due:</th>
                <td>11/11/19</td>
              </tr>
            </tbody>
           </table>
        </div>
          <div class='col-8 billing-info float-right'>
            <p class='billing-info-field'>
              Bill to:
            </p>
            <p class='billing-info-field'>
              Dwigth Shrute
            </p>
            <p class='billing-info-field'>
              1052 Doreen Pl, Scranton PA, 18504
            </p>
          </div>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">ID</label>
              <input type="text" class="form-control" id="inputID" placeholder="A-001">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Payment Method</label>
              <input type="text" class="form-control" id="inputPayment" placeholder="4007">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Concept</label>
              <input type="text" class="form-control" id="inputID" placeholder="Delaware Incorporation">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Amount</label>
              <input type="text" class="form-control" id="inputPayment" placeholder="$500.00 USD">
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">Status</label>
              <input type="text" class="form-control" id="inputPayment" placeholder="Incomplete">
            </div>
          </form>
        </div>
      </div>
    </div>
