<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
      <%= render 'website/partials/wizard_explainer' %>
    </div>

    <div class='col-6 wizard-content'>
      <form>
        <h3 class='title-product'>
          Management Roles
        </h3>
        <h5 class='field'>
          Chief Executive Officer
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          Chief Financial Officer
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          Chief Operating Officer
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          Chief Technology Officer
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <button type="submit" class="btn btn-primary-wizard float-right">
          Back
        </button>
        <button type="submit" class="btn btn-primary-wizard float-right">
          Next
        </button>
      </form>
    </div>


    <div class='col-3 preview'>
      <%= render 'website/partials/wizard_preview' %>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
