<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
    </div>
    <div class='col-6 content text-center'>
      <%= image_tag 'order.svg', class:'image'%>
      <h3 class='title text-center'>
        Your order is being process
      </h3>
      <h4 class='subtitle text-center'>
        Incorporation Process ID #45555
      </h4>
      <h5 class='text text-center'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Metus vulputate eu scelerisque felis imperdiet. Mauris commodo quis imperdiet massa tincidunt.
        Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
      </h5>
      <a class="btn btn-primary btn-block-edit float-center" href="/dashboard" role="button">Go Home</a>
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
