<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3'>
    </div>

    <div class='col-6'>
      <div class='row'>
        <div class='col-10'>
          <h1 class='title'>
            Checkout
          </h1>
          <h3 class='section'>
            Shipping Address
          </h3>
          <h5 class='info'>
            Name
          </h5>
          <h5 class='info'>
            Address Line 1
          </h5>
          <h5 class='info'>
            Address Line 2
          </h5>
          <a href='/'>
            Add delivery instructions
          </a>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <div class='row'>
        <div class='col-10'>
          <h3 class='section'>
            Payment Method
          </h3>
          <h5 class='info'>
            <%= image_tag 'mastercard.png', class:'image'%> ending in 5487
          </h5>
          <h5 class='info'>
            Billing Addres Line 1
          </h5>
          <h5 class='info'>
            Billing Addres Line 2
          </h5>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>

      <div class='row'>
        <div class='col-10'>
          <h3 class='section'>
            Review Items and Shipping
          </h3>
          <h5 class='info'>
            Type of Company
          </h5>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <hr class="col-10 divider">
          <h4 class='section'>
            Company Name
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Funding
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Business Address
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Number of Shares
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Phone Number
          </h4>
          <hr class="col-10 divider">
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Email
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Legal Name
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Date of Birth
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Country of Citenzship
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            U.S. Social Security Number
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Personal Address
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Title
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Intended Percentage Ownership
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <hr class="col-10 divider">
          <h4 class='section'>
            Incorporator
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Director
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            President
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            Secretary
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <hr class="col-10 divider">
          <h4 class='section'>
            CEO
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            CFO
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            COO
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <h4 class='section'>
            CTO
          </h4>
          <h5 class='info'>
            Lorem Ipsum
          </h5>
          <hr class="col-10 divider">
          <h4 class='info'>
            Extra Services
          </h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Fast! Give me the rush filing.
            </label>
            <h5 class='price'>
              $299.99 USD
            </h5>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              No rush, I’ll just pay the goverment fees.
            </label>
            <h5 class='price'>
              $99.99 USD
            </h5>
          </div>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
    </div>

    <div class='col-3 preview'>
      <h2 class='title'>
        Summary
      </h2>
      <div class='row'>
        <div class='col-10'>
          <p class='summary-field'>
            Incorporation #234324
          </p>
        </div>
        <div class='col-2'>
          <p class='summary-field'>
            $9999.00
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-10'>
          <p class='summary-field'>
            Fast Fee
          </p>
        </div>
        <div class='col-2'>
          <p class='summary-field'>
            $9999.00
          </p>
        </div>
      </div>
      <hr class="col-12 small-divider">
      <div class='row'>
        <div class='col-10'>
          <p class='summary-field'>
            Subtotal
          </p>
        </div>
        <div class='col-2'>
          <p class='summary-field'>
            $9999.00
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-10'>
          <p class='summary-field'>
            Tax
          </p>
        </div>
        <div class='col-2'>
          <p class='summary-field'>
            $9999.00
          </p>
        </div>
      </div>
      <hr class="col-12 small-divider">
      <div class='row'>
        <div class='col-10'>
          <p class='summary-field'>
            TOTAL
          </p>
        </div>
        <div class='col-2'>
          <p class='summary-field'>
            $9999.00
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Place Order
      </button>
      <p class='disclaimer'>
        Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
