<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
    </div>

    <div class='col-6 content'>
      <%= image_tag 'order.svg ', class:'image'%>
      <h1 class='title'>
        Your order is being process
      </h1>
      <h3 class='subtitle'>
        Incorporation Process ID #45555
      </h3>
      <h4 class='text'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Metus vulputate eu scelerisque felis imperdiet. Mauris commodo quis imperdiet massa tincidunt.
        Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.
      </h4>
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
