<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3'>
      <%= render 'website/partials/wizard_explainer' %>
    </div>
    <div class='col-6 wizard-content'>
      <h6 class='text text-center'>
        The privacy of the personal information we collect from customers and potential
        customers is very important to Genesis Inc. You have received this notice in accordance
        with federal and state laws. This notice is to provide you with our understanding of
        types of non-public personal information about you that we may collect, how we use it
        and how we protect that information.
      </h6>
      <a class="btn btn-primary btn-block-steps float-center" href="/step_2" role="button">Start</a>
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
