 <%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar' style='background-color:#032840;'>
      <%= render 'website/partials/wizard_explainer' %>
    </div>
    <div class='col-6 wizard-content'>
      <h3 class='title-product'>
        Product
      </h3>
      <form>
        <div class="form-group">
          <label for="inputAddress">Website</label>
          <input type="text" class="form-control" id="inputWebsite" placeholder="www.example.com">
        </div>
        <div class="form-group">
          <label for="inputAddress">About Your Product</label>
          <input type="text" class="form-control" id="inputText" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </div>
        <div class="form-group">
          <label for="inputAddress">Website</label>
          <input type="text" class="form-control" id="inputText" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </div>
        <a class="btn btn-primary btn-block-steps float-right" href="/step_3" role="button">Next</a>
      </form>
    </div>
    <div class='col-3 preview' style='background-color:#F0F0F0;'>
      <%= render 'website/partials/wizard_preview' %>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
