<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
    </div>
    <div class='col-6 content'>
      <h2 class='title'>
        Incorporation Review
      </h2>
      <div class='row'>
        <div class='col-10'>
          <h4 class='subtitle'>
            Type of Company
          </h4>
          <p class='explainer'>
            C Corporation
          </p>
          <p class='explainer'>
            This company is not a subsidiary of another company
          </p>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h4 class='subtitle'>
            Company Name
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Funding
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Business Address
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Number of Shares
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Phone Number
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h4 class='subtitle'>
            Email
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Legal Name
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Date of Birth
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Country of Citeznship
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            U.S. Social Security Number
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Personal Address
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Title
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Intended Percentage Ownership
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h4 class='subtitle'>
            Incorporator
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Director
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            President
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Secretary
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h4 class='subtitle'>
            Chief Executive Officer
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Chief Financial Officer
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Chief Operating Officer
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h4 class='subtitle'>
            Chief Technology Officer
          </h4>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <button type="submit" class="btn btn-primary">
            Edit
          </button>
        </div>
      </div>
      <hr class="col-12">
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
