<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
    </div>

    <div class='col-6 wizard-content'>
      <h3 class='title'>
        Shipping Address
      </h3>
      <div class='row'>
        <div class='col-6 boxes'>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            <h5 class='option'>
              Business Address
            </h5>
          </label>
          <p class='address'>
            1052 Doreen Pl,
            Scranton PA, 18504,
            United States
          </p>
          <p class='phone'>
            Phone: +1 272 654 6565
          </p>
        </div>
        <div class='col-6 boxes'>
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            <h5 class='option'>
              Personal Address
            </h5>
          </label>
          <p class='address'>
            1052 Doreen Pl,
            Scranton PA, 18504,
            United States
          </p>
          <p class='phone'>
            Phone: +1 272 654 6565
          </p>
        </div>
        <a href='/'>
          + Add Address
        </a>
      </div>
      <button type="submit" class="btn btn-primary-wizard float-right">
        Back
      </button>
      <button type="submit" class="btn btn-primary-wizard float-right">
        Next
      </button>
    </div>


    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
