<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar' style='background-color:#032840;'>
      <%= render 'website/partials/wizard_explainer' %>
    </div>
    <div class='col-6 wizard-content'>
      <form>
        <h3 class='field'>
          Power of Attorney
        </h3>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <a class="btn btn-primary btn-block-steps float-right" href="/step_10" role="button">Next</a>
        <a class="btn btn-primary btn-block-steps float-right" href="/step_8" role="button">Back</a>
      </form>
    </div>
    <div class='col-3 preview' style='background-color:#F0F0F0;'>
      <%= render 'website/partials/wizard_preview' %>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
