<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar' style='background-color:#032840;'>
      <%= render 'website/partials/wizard_explainer' %>
    </div>

    <div class='col-6 wizard-content'>
      <form>
        <h3 class='title-product'>
          Company Roles
        </h3>
        <h5 class='field'>
          Incorporator
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          Director
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          President
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <h5 class='field'>
          Secretary
        </h5>
        <select id="inputState" class="form-control">
          <option selected>
            Name
          </option>
          <option>
            Name #2
          </option>
        </select>
        <a class="btn btn-primary btn-block-steps float-right" href="/step_7" role="button">Next</a>
        <a class="btn btn-primary btn-block-steps float-right" href="/step_5" role="button">Back</a>
      </form>
    </div>


    <div class='col-3 preview' style='background-color:#F0F0F0;'>
      <%= render 'website/partials/wizard_preview' %>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
