<%= render 'website/partials/secondary_header_genesis' %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3 sidabar'>
    </div>
    <div class='col-6 wizard-content'>
      <h3 class='title'>
        Incorporation Review
      </h3>
      <div class='row'>
        <div class='col-10'>
          <h5 class='subtitle'>
            Type of Company
          </h5>
          <p class='explainer'>
            C Corporation
          </p>
          <p class='explainer'>
            This company is not a subsidiary of another company
          </p>
        </div>
        <div class='col-2'>
          <a class="btn btn-primary btn-block-edit float-right" href="/step_3" role="button">Edit</a>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h5 class='subtitle'>
            Company Name
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Funding
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Business Address
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Number of Shares
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Phone Number
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <a class="btn btn-primary btn-block-edit float-right" href="/step_4" role="button">Edit</a>

        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h5 class='subtitle'>
            Email
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Legal Name
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Date of Birth
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Country of Citeznship
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            U.S. Social Security Number
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Personal Address
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Title
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Intended Percentage Ownership
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <a class="btn btn-primary btn-block-edit float-right" href="/step_5" role="button">Edit</a>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h5 class='subtitle'>
            Incorporator
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Director
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            President
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Secretary
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <a class="btn btn-primary btn-block-edit float-right" href="/step_6" role="button">Edit</a>
        </div>
      </div>
      <hr class="col-12">
      <div class='row'>
        <div class='col-10'>
          <h5 class='subtitle'>
            Chief Executive Officer
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Chief Financial Officer
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Chief Operating Officer
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
          <h5 class='subtitle'>
            Chief Technology Officer
          </h5>
          <p class='explainer'>
            Lorem Ipsum
          </p>
        </div>
        <div class='col-2'>
          <a class="btn btn-primary btn-block-edit float-right" href="/step_7" role="button">Edit</a>
        </div>
      </div>
      <a class="btn btn-primary btn-block-steps float-right" href="/step_12" role="button">Next</a>
      <a class="btn btn-primary btn-block-steps float-right" href="/step_10" role="button">Back</a>
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer_genesis' %>
