<%= render 'website/partials/header_genesis' %>
<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <%= image_tag 'sent-email.svg', class:'image'%>
    </div>
    <div class='col-8'>
      <h1 class='title'>
        Thank You!
      </h1>
      <h3 class='subtitle'>
        Your message has been sent.
      </h3>
      <h3 class='subtitle'>
        We’ll get back to you as soon as possible.
      </h3>
    </div>
  </div>
</div>
<%= render 'website/partials/footer_genesis' %>
