<div class='container admin-sidebar'>
  <div class='row wrapper-dashboard-sidebar'>
    <div class='col-12'>
      <ul class='link-list'>
        <li class='link'>
          <a href="/dashboard">
            Applications
          </a>
        </li>
        <li class='link'>
          <a href='/instances_plural link-link'>
            Companies
          </a>
        </li>
        <li class='link'>
          <a href='/payments link-link'>
            Payments
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
