<div class='container admin-sidebar'>
  <div class='row wrapper-admin-sidebar'>
    <div class='col-12'>
      <ul class='link-list'>
        <li class='link'>
          <a href='/admin_incorporations' class='link-link'>
            Home
          </a>
        </li>
        <li class='link'>
          <a href='/admin_incorporations' class='link-link'>
            Applications
          </a>
        </li>
        <li class='link'>
          <a href='payments' class='link-link'>
            Payments
          </a>
        </li>
        <li class='link'>
          <a href='/invoices' class='link-link'>
            Invoices
          </a>
        </li>
        <li class='link'>
          <a href='/payment_methods' class='link-link'">
            Paymenth Methods
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
