<div class='container dashboard-sidebar'>
  <div class='row wrapper-dashboard-sidebar'>
    <div class='col-12'>
      <ul class='link-list'>
        <li class='link'>
          <a href="/dashboard">
            Home
          </a>
        </li>
        <li class='link'>
          <a href="/instances_plural">
            Applications
          </a>
        </li>
        <li class='link'>
          <a href="/payments">
            Payments
          </a>
        </li>
        <li class='link'>
          <a href="/invoices">
            Invoices
          </a>
        </li>
        <li class='link'>
          <a href="/payment_methods">
            Paymenth Methods
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
