<div class='container-fluid footer-genesis'>
  <div class='container wrapper-footer-genesis'>
    <div class='row'>
      <div class='col-2'>
        <%= image_tag 'genesis-black-logo.png', class:'logo'%>
        <p class='disclaimer'>
          Copyright © 2016
        </p>
        <p class='disclaimer'>
          Use Genesis, Inc.
          Incorporate in several countries.
          Internal Status Terms, Privacy & Copyright
        </p>
      </div>
        <div class='col-2'>
        <ul class='list'>
          <li class='title font-weight-bold'>
            Offerings
          </li>
          <li>
            <a href="/" class='menu-item'>
              USA Incorporation
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Binational Package
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Unlimited Professional
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Advice
            </a>
          </li>
        </ul>
      </div>
      <div class='col-2'>
        <ul class='list'>
          <li class='title font-weight-bold'>
            Courses
          </li>
          <li>
            <a href="/" class='menu-item'>
              Incorporation
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Financial Essentials
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Intl. Strategies
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Due Dilligence
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Inmigration & Visas
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Get Paid to Teach
            </a>
          </li>
        </ul>
      </div>
      <div class='col-2'>
        <ul class='list'>
          <li class='title font-weight-bold'>
            Community
          </li>
          <li>
            <a href="/" class='menu-item'>
              Getting Started
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Ask Us Anything
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Browse Everything
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Events
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              FAQ
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Help
            </a>
          </li>
        </ul>
      </div>
      <div class='col-2'>
        <ul class='list'>
          <li class='title font-weight-bold'>
            Company
          </li>
          <li>
            <a href="/" class='menu-item'>
              The Mission
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              The Oportunity
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Work For Us
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Email The Founders
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Give Us Feedback
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Our Story
            </a>
          </li>
        </ul>
      </div>
      <div class='col-2'>
        <ul class='list'>
          <li class='title font-weight-bold'>
            Connect
          </li>
          <li>
            <a href="/" class='menu-item'>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Facebook
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Twitter
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Google+
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Youtube
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Meetup
            </a>
          </li>
          <li>
            <a href="/" class='menu-item'>
              Github
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <p class='text text-center'>
          N STARTUPS INCORPORATED
        </p>
      </div>
    </div>
  </div>
</div>
