<div class='container instance-payment-methods'>
  <div class='row wrapper-payment-methods'>
    <div class='col-12'>
      <h4 class='details'>
        PAYMENTH METHODS
      </h4>
      <h5 class='section text-uppercase'>
        Default Payment Method
      </h5>
      <h6 class='fields'>
        Number
      </h6>
      <h6 class='fields'>
        Expires
      </h6>
      <h6 class='fields'>
        CV
      </h6>
      <h5 class='section text-uppercase'>
        Billing Address
      </h5>
      <h6 class='fields'>
        Full Name
      </h6>
      <h6 class='fields'>
        Billing Address
      </h6>
    </div>
  </div>
</div>
