<div class='container instance-history'>
  <div class='row wrapper-instance-history'>
    <div class='col-12'>
      <h4 class='details'>
        HISTORY
      </h4>
      <h6 class='comment-description'>
        Application was created
      </h6>
      <h5 class='datetime'>
        Nov 28, 2019, 3:29 PM
      </h5>
    </div>
  </div>
</div>
