<div class='container instance-details'>
  <div class='row wrapper-instance-details'>
    <div class='col-12'>
      <h4 class='details'>
        DETAILS
      </h4>
      <h5 class='section text-uppercase'>
        The Company
      </h5>
      <h6 class='fields'>
        Type of Company
      </h6>
      <h6 class='fields'>
        Company Name
      </h6>
      <h6 class='fields'>
        Funding
      </h6>
      <h6 class='fields'>
        Business Address
      </h6>
      <h6 class='fields'>
        Number of Shares
      </h6>
      <h6 class='fields'>
        Phone Number
      </h6>
      <h5 class='section text-uppercase'>
        Representatives
      </h5>
      <h6 class='fields'>
        Email
      </h6>
      <h6 class='fields'>
        Legal Name
      </h6>
      <h6 class='fields'>
        Date of Birth
      </h6>
      <h6 class='fields'>
        Country of Citeznship
      </h6>
      <h6 class='fields'>
        Personal Address
      </h6>
      <h6 class='fields'>
        Title
      </h6>
      <h6 class='fields'>
        Intended Percentage Owenership
      </h6>
      <h5 class='section text-uppercase'>
        Company Roles
      </h5>
      <h6 class='fields'>
        Incorporator
      </h6>
      <h6 class='fields'>
        Director
      </h6>
      <h6 class='fields'>
        President
      </h6>
      <h6 class='fields'>
        Secretary
      </h6>
      <h5 class='section text-uppercase'>
        Management Roles
      </h5>
      <h6 class='fields'>
        Chief Executive Officer
      </h6>
      <h6 class='fields'>
        Chief Financial Officer
      </h6>
      <h6 class='fields'>
        Chief Operating Officer
      </h6>
      <h6 class='fields'>
        Chief Technology Officer
      </h6>
    </div>
  </div>
</div>
