<div class='container instance-invoices'>
  <div class='row wrapper-instance-invoices'>
    <div class='col-12'>
      <h4 class='details'>
        INVOICES
      </h4>
      <div class='row wrapper-invoice-table'>
        <div class='col-12'>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Amount</th>
                <th scope="col">Due</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">8465651465A</th>
                <td>$200 USD</td>
                <td>Dec 29, 2020</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
