<div class="container-fluid primary-footer-wrapper">
  <div class='row'>
    <div class='container'>
      <footer class="primary-footer">
        <div class="row">
          <div class="col-2 text-center brand">
            <img class="mb-2 logo" src="/assets/movimiento-ciudadano-orange.png" alt="" />
          </div>
          <div class='col-2'>
            <a class="nav-link" href="#quien-soy">¿Qui&eacute;n Soy?</a>
          </div>
          <div class='col-2'>
            <a class="nav-link" href="#propuestas">Propuestas</a>
          </div>
          <div class='col-2'>
            <a class="nav-link" href="#buzon">Buz&oacute;n</a>
          </div>
          <div class='col-2'>
            <a class="nav-link" href="#galeria">Galer&iacute;a</a>
          </div>
          <div class='col-2'>
            <a class="nav-link" href="#agenda">Agenda</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
