<nav class="navbar navbar-expand-md primary-header">
  <a class="navbar-brand brand" href="/">
    <% if current_organization.primary_image %>
      <img class='logo' src="<%= current_organization.primary_image.payload.url %>" alt="<%= current_organization.name %> Logo">
    <% else %>
      <p class='name' ><%= current_organization.name %></p>
    <% end %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#quien-soy">¿Qui&eacute;n Soy?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#propuestas">Propuestas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#buzon">Buz&oacute;n</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#galeria">Galer&iacute;a</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#agenda">Agenda</a>
      </li>
    </ul>
  </div>
</nav>
