<div class='row'>
  <div class="col-12">
    <h3>What they say about us</h3>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <img data-src="holder.js/150x150" alt="">
      </div>
      <div class="col-9">
        <p>Anne H.</p>
        <p>*****</p>
        <p>
          "Great service. Extremely friendly and knowledgeable staff.
          Was recommended by a family member and was thoroughly impressed."
        </p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <img data-src="holder.js/150x150" alt="">
      </div>
      <div class="col-9">
        <p>James F.</p>
        <p>*****</p>
        <p>
          "I'm usually very anxious when attending the dentist.
          Dr. Ricardo and staff made me feel very comfortable.
          I had a painless experience in a very clean environment.
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <img data-src="holder.js/150x150" alt="">
      </div>
      <div class="col-9">
        <p>Ellen T.</p>
        <p>*****</p>
        <p>
          “Dr. Guevara and staff are extremely kind and comprehensive.
          The office is beautiful, clean, and on a main street with all sorts of good food and shopping.
          The best cleaning and dental appointment that I have had in my life.
        </p>
      </div>
    </div>
  </div>
</div>
