<div class='container-fluid secondary-footer-genesis fixed-bottom'>
  <div class='row'>
    <div class='col-3 sidebar'>
      Product
    </div>
    <div class='col-6 text-center'>
      <%= image_tag 'progress', class:'image'%>
    </div>
    <div class='col-3 preview'>
    </div>
  </div>
<div>
