<div class='container'>
  <div class="row we-are-waiting-for-you">
    <div class="col-12">
      <h4 class='text-center title'>Our Team Of Specialists Can Help You Anytime</h4>
      <hr class="attention-helper">
      <h5 class='text-center suggester'>We Are Here To Take Care Of Your Smile</h5>
      <img class="image" src="/assets/we-are-waiting-for-you.jpg" alt="We Are Waiting For You">
    </div>
  </div>
</div>
