<div class='row wizard-explainer'>
  <h5 class='title'>
    Type of Company
  </h5>
  <h6 class='subtitle'>
    C Corporation
  </h6>
  <p class='explainer'>
    Designed for a startups looking to raise money from investors
  </p>
  <ul>
    <li>
      Most accelerators and investors require C Corporation
    </li>
    <li>
      Stock can be issued to founders, employees, and others
    </li>
    <li>
      Supports founders based in the U.S. and internationally
    </li>
  </ul>
  <h6 class='subtitle'>
    LLC
  </h6>
  <p class='explainer'>
    Designed for boostrapped and indie hackers (not for founders outside the U.S.)
  </p>
</div>
