<div class='container wizard-explainer'>
  <div class='row wrapper-wizard-explainer'>
    <div class='col-12 overflow-auto'>
      <h5 class='title-wizard'>
        Type of Company
      </h5>
      <h6 class='subtitle-wizard-wizard'>
        C Corporation
      </h6>
      <p class='explainer-wizard'>
        Designed for a startups looking to raise money from investors
      </p>
      <ul>
        <li>
          Most accelerators and investors require C Corporation
        </li>
        <li>
          Stock can be issued to founders, employees, and others
        </li>
        <li>
          Supports founders based in the U.S. and internationally
        </li>
      </ul>
      <h6 class='subtitle-wizard'>
        LLC
      </h6>
      <p class='explainer-wizard'>
        Designed for boostrapped and indie hackers (not for founders outside the U.S.)
      </p> 
      <h6 class='subtitle-wizard'>
        S Corp
      </h6>
      <ul>
        <li>
          S corp income is taxed once to the shareholder.
        </li>
        <li>
          For S corps, you can't have more than 100 shareholders and they must
          be U.S. citizens or permanent residents.
        </li>
        <li>
          An S corp can only issue common stock because common stock shareholders get voting rights.
          No one has preferred status—all shareholders are treated equally.
        </li>
      </ul>
      <h6 class='subtitle-wizard'>
        Funding
      </h6>
      <p class='explainer-wizard'>
        What is the primary source of funding for your business?
      </p>
      <h6 class='subtitle-wizard'>
        Business Address
      </h6>
      <p class='explainer-wizard'>
        This must be the current physical location of your business. (It doesn't have to be in the U.S.) We can't accept a P.O. Box, virtual mailbox, or mail forwarding address.
      </p>
      <h6 class='subtitle-wizard'>
        Number of Shares
      </h6>
      <p class='explainer-wizard'>
        Orrick's forms default to authorizing 10,000,000 shares to start.
        You should only change this on the advice of a lawyer.
        Learn more about the impact of authorized shares on Delaware franchise tax
        <a href="/"> here.
        </a>
      </p>

    </div>
  </div>
</div>
